*{
    margin: 0;
    padding: 0;

}
body{  /*   Configurações do fundo*/
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;

}
h1{
    font-size: 30px;
    text-align: center;
}
form{
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;


    left: 50%;
    top: 15%;
    position: absolute;
    transform: translate(-50%, -50%);


}
fieldset{
    border: none;
}
.container,
.container-bto{
    width: 100%;
    display: -webkit-flex;
    justify-content: center;

    margin: 5px auto;
}
label{
    width: 100%;
    max-width: 150px;
}
input{
    width: 100%;
    max-width: 100px;
    max-height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 3px;

}
#login{
    width: 50%;
    height: 2.5vh;
}